services:
  - type: static
    name: my-app
    rootDir: FrontEnd/task-management-app
    buildCommand: npm install && npm run build
    staticPublishPath: dist
    routes:
      - type: rewrite
        source: /*
        destination: /index.html   
        